@model SocialNetwork.ModelDTOs.ViewModelDTOs.ManageNetworkViewDTO

@section Styles {
    <link href="~/css/Network/network.css" rel="stylesheet" />
}

<div class="friend-requests-container">
    <div class="fr-text">
        Friend Requests
    </div>
    <div class="fr-table">
        <table class="table">
            <tbody>
                @foreach (var friendRequest in Model.FriendRequests)
                {
                    <tr>
                        <td>
                            <img src="data:image/*; base64, @Convert.ToBase64String(friendRequest.FromUser.ProfilePicture)" class="profile-img"
                                 alt="">
                        </td>
                        <td><a class="links" asp-controller="Home" asp-action="Profile" asp-route-id="@friendRequest.FromUserId">@friendRequest.FromUser.FirstName @friendRequest.FromUser.LastName</a></td>
                        <td>
                            <a class="accept-button links" asp-controller="Network" asp-action="AcceptRequest" asp-route-requestId="@friendRequest.Id">Accept</a>
                        </td>
                        <td>
                            <a class="decline-button links" asp-controller="Network" asp-action="DeclineRequest" asp-route-requestId="@friendRequest.Id">Decline</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="friends-list-container">
        <div class="fr-text">
            Friends List
        </div>
        <div class="friends-display-list">
            @foreach (var friend in Model.UserFriends)
            {
                <div class="friends-card">
                    <div class="card-image-container">
                        <img class="card-image"
                             src="data:image/*; base64, @friend.ProfilePhoto"
                             alt="">
                    </div>
                    <div class="user-name-container">
                        <div class="username"> @friend.FirstName @friend.LastName</div>
                    </div>
                    <div class="profile-navigator-container">
                        <a class="see-profile-button links" asp-controller="Home" asp-action="Profile" asp-route-id="@friend.Id"> See Profile</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>