
@inject UserManager<User> userManager

@{
    User sessionUser = await userManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social Network</title>
    <script src="https://kit.fontawesome.com/ca80789860.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Shared/navbar.css" />
    @RenderSection("Styles", required: true)
</head>
<body>
    <div class="body-container">
        <div class="navbar">
            <a class="logo-container" asp-controller="Home" asp-action="HomePage">
                <img src="~/images/logo/889114.svg" class="logo" alt="logo">
            </a>
            <div class="search-bar">
                <form class="example">
                    <input type="text" class="input" placeholder="Search people.." name="search">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="navigation">
                <a class="home" asp-controller="Home" asp-action="HomePage">
                    <i class="fas fa-home fa-lg"></i>
                </a>
                <a class="network" asp-controller="Network" asp-action="ManageNetwork">
                    <i class="fas fa-users fa-lg"></i>
                </a>
                <a class="messages" asp-controller="Chat" asp-action="Overview">
                    <i class="fas fa-comments fa-lg"></i>
                </a>
            </div>

            <div class="profile-wrapper">
                <div class="profile-image-container">
                    <img class="profile-image"
                         src="data:image/*; base64, @Convert.ToBase64String(sessionUser.ProfilePicture)" alt="">
                </div>
                <div class="profile-name">
                    <a class="links" asp-controller="Home" asp-action="Profile" asp-route-id="@int.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)">
                        @User.FindFirst("FirstName").Value  @User.FindFirst("LastName").Value
                    </a>
                </div>

                <div class="notifications">
                    <i class="fas fa-bell fa-lg"></i>
                </div>
                <div class="settings" id="settings-button">
                    <i class="fas fa-cog fa-lg"></i>
                </div>
            </div>
        </div>
        <div class="content-container">
            @RenderBody()
        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script src="~/js/toggle.js"></script>
    <script src="~/js/colorToggle.js"></script>
</body>
</html>
