@model SocialNetwork.ModelDTOs.ViewModelDTOs.ChatRoomDTO
@{
    ViewData["Title"] = "Overview";

}

@section Styles {
    <link href="~/css/Chat/messageroom.css" rel="stylesheet" />
}

<div class="left-bar">
    <div class="chat-room-header">
        <img id="add-chatroom-img" src="~/images/chat/610413.svg" alt="">
        <a class="add-chatroom-text"> Search Friends</a>
    </div>
    @foreach (var item in Model.ChatUsers)
    {
        <a class="chat-room-wrapper links" asp-controller="Chat" asp-action="CreateRoom" asp-route-userId="@item.Id">
            <img src="data:image/*; base64, @item.ProfilePhoto" alt="Alternate Text" />
            <span> @item.FirstName @item.LastName</span>
        </a>
    }
</div>
<div class="middle-bar">

    @if (Model.ChatRoom is null)
    {
        <div class="chat-container"> Enter chatroom to see messages </div>

    }
    else
    {
<div class="chat-container">

    @foreach (var message in Model.ChatRoom.Messages)
    {
        if (message.UserId.Equals(Model.SessionUser.Id))
        {
            <div class="container">
                <img src="data:image/*; base64, @Convert.ToBase64String(message.User.ProfilePicture)"
                     alt="Avatar">
                <p>@message.Text</p>
                <span class="time-right">@message.DateCreated.ToShortDateString()</span>
            </div>
        }
        else
        {
            <div class="container darker">
                <img src="data:image/*; base64, @Convert.ToBase64String(message.User.ProfilePicture)"
                     alt="Avatar">
                <p>@message.Text</p>
                <span class="time-right">@message.DateCreated.ToShortDateString()</span>
            </div>
        }


    }

    @*<div class="container">
            <img src="https://vanishingportrait.com/wp-content/uploads/2019/05/tiffanytrenda-vanishingportrait-identity.jpg"
                 alt="Avatar">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
        </div>

        <div class="container darker">
            <img src="https://i.imgur.com/YHk0msx.jpg" alt="Avatar" class="right">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
        </div>

        <div class="container">
            <img src="https://i.imgur.com/YHk0msx.jpg" alt="Avatar">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
        </div>

        <div class="container darker">
            <img src="https://vanishingportrait.com/wp-content/uploads/2019/05/tiffanytrenda-vanishingportrait-identity.jpg"
                 alt="Avatar" class="right">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
        </div>
        <div class="container">
            <img src="https://vanishingportrait.com/wp-content/uploads/2019/05/tiffanytrenda-vanishingportrait-identity.jpg"
                 alt="Avatar">
            <p>
                I have to try how does it work with different types and different sizes of text I need to
                know
            </p>
            <span class="time-right">11:10</span>
        </div>
        <div class="container darker">
            <img src="https://vanishingportrait.com/wp-content/uploads/2019/05/tiffanytrenda-vanishingportrait-identity.jpg"
                 alt="Avatar" class="right">
            <p>Seems to me that it's working fine. Let's hope it stays like this</p>
            <span class="time-left">11:15</span>
        </div>
        <div class="container">
            <img src="https://vanishingportrait.com/wp-content/uploads/2019/05/tiffanytrenda-vanishingportrait-identity.jpg"
                 alt="Avatar">
            <p>
                I have to try how does it work with different types and different sizes of text I need to
                know I have to try how does it work with different types and different sizes of text I need
                to know I have to try how does it work with different types and different sizes of text I
                need to know
            </p>
            <span class="time-right">11:10</span>
        </div>*@

</div>


        <form class="input-message-container" asp-controller="Chat" asp-action="AddMessage" method="post">
            <input id="writeMessage" name="messageInput" type="text">
            <input type="hidden" name="chatRoomId" value="@Model.ChatRoom.Id">
            <button id="sendMessage" type="submit">Send</button>
        </form>
    }


</div>