@model SocialNetwork.ModelDTOs.ViewModelDTOs.HomepageViewDTO

@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/Home/homepage.css" rel="stylesheet" />
}

<partial name="_LeftBarPartial">

    <div class="middle-bar">

        <div class="content-box">
            <form asp-controller="Post" asp-action="CreatePost" method="post" enctype="multipart/form-data">
                <div class="demo-class">
                    <div class="post-username-image">
                        <div class="profile-image-container post-class">
                            <img class="profile-image"
                                 src="data:image/*; base64, @Model.SessionUser.ProfilePhoto" alt="">
                        </div>
                    </div>
                    <div class="post-something-container">
                        <div class="post-something-box">
                            <input type="text" class="post-input" asp-for="@Model.CreatePost.Content" placeholder="What's on your mind, @Model.SessionUser.FirstName?">
                        </div>
                    </div>
                </div>
                <div class="second-demo-class">
                    <input type="file" id="add-image-file" asp-for="@Model.CreatePost.Photo">
                    <label for="add-image-file"></label>
                    <div class="add-image-text">
                        Add Image
                    </div>
                    <input class="post-button" id="postButton" type="submit" value="Post" />
                </div>
                <div class="error-message">
                    @TempData["Error"]
                </div>
            </form>

        </div>

        @foreach (var post in Model.ViewPostList)
        {
            <partial name="_ViewPostPartial" model="post"/>
        }
    </div>


