@model SocialNetwork.ModelDTOs.UserDTOs.ProfileUserDTO

@inject UserManager<User> userManager

@{
    User sessionUser = await userManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Profile";
}

@section Styles {
    <link href="~/css/Home/profile.css" rel="stylesheet" />
}

<div class="cover-photo-container">
    <img class="cover-image-src"
         src="~/images/profile/download.jpg"
         alt="">
    <div class="profile-photo-container">
        <img class="profile-photo-src"
             src="data:image/*; base64, @Model.ProfilePhoto"
             alt="">
    </div>
</div>
<div class="name-container">
    <div class="name">
        @Model.FirstName @Model.LastName
    </div>
</div>
<div class="profile-navigation-bar">
    <div class="profile-nav-items">
        <div class="nav-item">
            Posts
        </div>
        <div class="nav-item">
            Photos
        </div>
        <div class="nav-item">
            About
        </div>

        <div class="nav-item">
            Friends
        </div>
    </div>
    @if (sessionUser.Id.Equals(Model.Id))
    {
        <div class="action-button">
            <a class="button links" asp-controller="User" asp-action="Edit" asp-route-id="@sessionUser.Id">
                Edit Profile
            </a>
        </div>
    }
    else
    {
        <div class="action-button">
            <div class="button">
                Add Friend
            </div>
        </div>
    }

</div>

<div class="middle-bar">

    @foreach (var post in Model.Posts)
    {
        <div class="content-box">
            <div class="post-username-container">
                <div class="post-username-image">
                    <div class="profile-image-container">
                        <img class="profile-image"
                             src="data:image/*; base64,@post.UserProfilePhoto"
                             alt="">
                    </div>
                </div>
                <div class="post-profile-name-container">
                    @post.UserFirstName @post.UserLastName
                </div>
                <div class="date-created-container">
                    @post.DateCreated
                </div>
            </div>

            <div class="post-text-container">
                @post.TextContent
            </div>
            <div class="post-media-container">
                @if (post.PhotoContent != null)
                {
                    <img class="post-image" src="data:image/*; base64,@post.PhotoContent">
                }
            </div>
            <div class="post-comment-section">
                <div class="section-item-none" id="like-item">
                    <i class="far fa-thumbs-up fa-lg"></i>
                    Like
                </div>
                <div class="comment-section" id="comment-item">
                    <i class="far fa-comment fa-lg"></i>
                    Comment
                </div>
                <div class="section-item-none" id="share-item">
                    <i class="fas fa-share fa-lg"></i>
                    Share
                </div>
            </div>
            <div class="add-comments">
                <div class="post-username-image comment-image">
                    <div class="profile-image-container">
                        <img class="profile-image"
                             src="data:image/*; base64, @Convert.ToBase64String(sessionUser.ProfilePicture)"
                             alt="">
                    </div>
                </div>
                <div class="comments-box-container">
                    <form class="comments-box">
                        <input type="text" class="comment-input" placeholder="Add Comment..">
                    </form>
                </div>
            </div>
        </div>
    }
</div>

