@model SocialNetwork.ModelDTOs.UserDTOs.ProfileUserDTO

@inject UserManager<User> userManager

@{
    User sessionUser = await userManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Profile";
}

@section Styles {
    <link href="~/css/Home/profile.css" rel="stylesheet" />
}

<div class="cover-photo-container">
    <img class="cover-image-src"
         src="~/images/profile/download.jpg"
         alt="">
    <div class="profile-photo-container">
        <img class="profile-photo-src"
             src="data:image/*; base64, @Model.ProfilePhoto"
             alt="">
    </div>
</div>
<div class="name-container">
    <div class="name">
        @Model.FirstName @Model.LastName
    </div>
</div>
<div class="profile-navigation-bar">
    <div class="profile-nav-items">
        <div class="nav-item">
            Posts
        </div>
        <div class="nav-item">
            Photos
        </div>
        <div class="nav-item">
            About
        </div>

        <div class="nav-item">
            Friends
        </div>
    </div>
    @if (Model.UsersRelation.Equals(RelationType.isSessionUser))
    {
        <div class="action-button">
            <a class="button links" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id">
                Edit Profile
            </a>
        </div>
    }
    else if (Model.UsersRelation.Equals(RelationType.isNotFriend))
    {
        <div class="action-button">
            <a class="button links" asp-controller="Network" asp-action="SendFriendRequest" asp-route-targetUserId="@Model.Id">
                Add Friend
            </a>
        </div>
    }
    else if (Model.UsersRelation.Equals(RelationType.isRequested))
    {
        <div class="action-button">
            <a class="button links">
                Request pending
            </a>
        </div>
    }
    else if(Model.UsersRelation.Equals(RelationType.isFriend))
    {
        <div class="action-button">
            <a class="button links" asp-controller="Network" asp-action="RemoveFriend" asp-route-id="@Model.Id">
                Remove Friend
            </a>
        </div>
    }

</div>

<div class="middle-bar">

    @if (Model.UsersRelation.Equals(RelationType.isFriend) ||
        Model.UsersRelation.Equals(RelationType.isSessionUser))
    {
        @foreach (var post in Model.Posts)
        {
            <partial name="_ViewPostPartial" model="post" />
        }
    } else
    {
        <div>Add friend to see full profile</div>
    }
</div>

